# Pandas

In [90]:
# Imports
import pandas as pd
import numpy as np
import xlrd
import json
import pickle
from lxml import objectify
from io import StringIO
import requests
import pymysql
from datetime import datetime
import pytz

## Series

In [2]:
x = [1, 2, 4 ,5 , 3, 9]
print(type(x))
print(x)

<class 'list'>
[1, 2, 4, 5, 3, 9]

In [3]:
y = np.array(x)
print(type(y))
print(y)

<class 'numpy.ndarray'>
[1 2 4 5 3 9]

In [4]:
obj1 = pd.Series(x) # index starts from 1
print(type(obj1))
print(obj1)

<class 'pandas.core.series.Series'>
0    1
1    2
2    4
3    5
4    3
5    9
dtype: int64

In [5]:
obj1 = pd.Series(y) # We can both use array and list
print(type(obj1))
print(obj1)

<class 'pandas.core.series.Series'>
0    1
1    2
2    4
3    5
4    3
5    9
dtype: int32

In [6]:
value = obj1.values
print(type(value))
print(value)

<class 'numpy.ndarray'>
[1 2 4 5 3 9]

In [7]:
index =  obj1.index
print(type(index))
print(index)
index_list = index.tolist()
print(type(index_list))
print(index_list)

<class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=6, step=1)
<class 'list'>
[0, 1, 2, 3, 4, 5]

In [8]:
obj2 = pd.Series(x, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(obj2)

a    1
b    2
c    4
d    5
e    3
f    9
dtype: int64

In [9]:
print(obj1[obj1 < 2])

0    1
dtype: int32

In [10]:
c = 3
print(obj1 * c)

0     3
1     6
2    12
3    15
4     9
5    27
dtype: int32

In [11]:
print(obj2)
obj2.index = [0, 1, 2, 3, 4, 5]
print(obj2)

a    1
b    2
c    4
d    5
e    3
f    9
dtype: int64
0    1
1    2
2    4
3    5
4    3
5    9
dtype: int64

In [12]:
a = np.array([-1, -2, 0, 1, 2])
print(a[a<0])

[-1 -2]

## DataFrame

In [13]:
data = {'city': ['Mumbai', 'Mumbai', 'Mumbai',
                 'Hyderabad', 'Hyderabad', 'Hyderabad'],
        'year': [2019, 2011, 2012, 2019, 2011, 2012,],
        'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]}

In [14]:
print(data)
print(type(data))

{'city': ['Mumbai', 'Mumbai', 'Mumbai', 'Hyderabad', 'Hyderabad', 'Hyderabad'], 'year': [2019, 2011, 2012, 2019, 2011, 2012], 'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]}
<class 'dict'>

In [15]:
df1 = pd.DataFrame(data)

In [16]:
print(df1)
print(type(df1))

        city  year  population
0     Mumbai  2019        10.0
1     Mumbai  2011        10.1
2     Mumbai  2012        10.2
3  Hyderabad  2019         5.2
4  Hyderabad  2011         5.3
5  Hyderabad  2012         5.5
<class 'pandas.core.frame.DataFrame'>

In [17]:
df1.head() # prints first 5 records (rows)

        city  year  population
0     Mumbai  2019        10.0
1     Mumbai  2011        10.1
2     Mumbai  2012        10.2
3  Hyderabad  2019         5.2
4  Hyderabad  2011         5.3

In [18]:
df1.tail()

        city  year  population
1     Mumbai  2011        10.1
2     Mumbai  2012        10.2
3  Hyderabad  2019         5.2
4  Hyderabad  2011         5.3
5  Hyderabad  2012         5.5

In [19]:
df2 = pd.DataFrame(data, columns = ['year', 'city', 'population'])
df2

   year       city  population
0  2019     Mumbai        10.0
1  2011     Mumbai        10.1
2  2012     Mumbai        10.2
3  2019  Hyderabad         5.2
4  2011  Hyderabad         5.3
5  2012  Hyderabad         5.5

In [20]:
df3 = pd.DataFrame(data, columns = ['year', 'city', 'population', 'GDP'],
                  index = ['one', 'two', 'three', 'four', 'five', 'six']).fillna(0)
df3

       year       city  population  GDP
one    2019     Mumbai        10.0    0
two    2011     Mumbai        10.1    0
three  2012     Mumbai        10.2    0
four   2019  Hyderabad         5.2    0
five   2011  Hyderabad         5.3    0
six    2012  Hyderabad         5.5    0

In [21]:
print(df3.columns)
print(df3.index)

Index(['year', 'city', 'population', 'GDP'], dtype='object')
Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [22]:
print(df3.year)
print(df3['year']['one'])

one      2019
two      2011
three    2012
four     2019
five     2011
six      2012
Name: year, dtype: int64
2019

In [23]:
print(type(df3.year))
print(df3.year.dtype)

<class 'pandas.core.series.Series'>
int64

In [24]:
print(df3.dtypes)

year            int64
city           object
population    float64
GDP             int64
dtype: object

In [25]:
print(df3, '\n')
print(df3.loc['one']) # prints row with specified index

       year       city  population  GDP
one    2019     Mumbai        10.0    0
two    2011     Mumbai        10.1    0
three  2012     Mumbai        10.2    0
four   2019  Hyderabad         5.2    0
five   2011  Hyderabad         5.3    0
six    2012  Hyderabad         5.5    0

year            2019
city          Mumbai
population      10.0
GDP                0
Name: one, dtype: object

In [26]:
print(df3.loc['four', 'city'])

Hyderabad

In [27]:
df3.GDP = 10
print(df3)

       year       city  population  GDP
one    2019     Mumbai        10.0   10
two    2011     Mumbai        10.1   10
three  2012     Mumbai        10.2   10
four   2019  Hyderabad         5.2   10
five   2011  Hyderabad         5.3   10
six    2012  Hyderabad         5.5   10

In [28]:
df3.GDP = np.arange(6)
print(df3)

       year       city  population  GDP
one    2019     Mumbai        10.0    0
two    2011     Mumbai        10.1    1
three  2012     Mumbai        10.2    2
four   2019  Hyderabad         5.2    3
five   2011  Hyderabad         5.3    4
six    2012  Hyderabad         5.5    5

In [29]:
df3.GDP = [3, 2, 0, 9, -0.4, 7]
print(df3)

       year       city  population  GDP
one    2019     Mumbai        10.0  3.0
two    2011     Mumbai        10.1  2.0
three  2012     Mumbai        10.2  0.0
four   2019  Hyderabad         5.2  9.0
five   2011  Hyderabad         5.3 -0.4
six    2012  Hyderabad         5.5  7.0

In [30]:
val = pd.Series([-1.4, 1.5, -1.3], index = ['two', 'four', 'five'])
df3.GDP = val
print(df3)

       year       city  population  GDP
one    2019     Mumbai        10.0  NaN
two    2011     Mumbai        10.1 -1.4
three  2012     Mumbai        10.2  NaN
four   2019  Hyderabad         5.2  1.5
five   2011  Hyderabad         5.3 -1.3
six    2012  Hyderabad         5.5  NaN

## Data acquisition with Pandas

### CSV

In [31]:
df1 = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")
print(df1)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [32]:
df2 = pd.read_csv("Salaries.csv")
print(df2)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [33]:
df2.to_csv('output.csv', index=True, header=False)

### Excel

In [34]:
excel_file = 'test1.xlsx'
df1 = pd.read_excel(excel_file)
df1

      Fruit   Color  Weight
0    Banana  Yellow     250
1    Orange  Orange     200
2    Grapes   Green     400
3    Tomato     Red     100
4   Spinach   Green      40
5  Potatoes    Grey     400
6      Rice   White     300
7      Rice   Brown     400
8     Wheat   Brown     500
9    Barley  Yellow     500

## JSON

In [35]:
obj = """
{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 36, "pets": ["Zeus", "Zuko"]},
             {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
print(obj)
print(type(obj))

{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 36, "pets": ["Zeus", "Zuko"]},
             {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]
}

<class 'str'>

In [36]:
result = json.loads(obj)
print(result)
print(type(result))

{'name': 'Ashwin', 'places_lived': ['Nashik', 'Hyderabad', 'Bangalore'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 36, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}
<class 'dict'>

In [37]:
df1 = pd.DataFrame(result['siblings'], columns=['name', 'age'])
print(df1)

    name  age
0  Scott   36
1  Katie   38

In [38]:
# df2 = pd.read_json('file_name')

## Pickles

In [39]:
data = (1 + np.arange(5)).tolist()
df1 = pd.DataFrame(data)
df1

   0
0  1
1  2
2  3
3  4
4  5

In [40]:
df1.to_pickle('mypickle')

In [41]:
df2 = pd.read_pickle('mypickle')
df2 == df1

      0
0  True
1  True
2  True
3  True
4  True

## Pandas Web

In [42]:
output = pd.read_html('https://google.com/')
print(output)
print(type(output))
print(len(output))

[    0                                                  1                     2
0 NaN  (function(){var id='tsuid1';document.getElemen...  Напредно пребарување]
<class 'list'>
1

In [43]:
output[0].head()

    0                                                  1                     2
0 NaN  (function(){var id='tsuid1';document.getElemen...  Напредно пребарување

### Parse HTML tag and get root

In [44]:
tag = '<a href="http://www.google.com/">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
print(root)

Google

In [45]:
root.get('href')

'http://www.google.com/'

In [46]:
print(root.text)

Google

In [47]:
print(type(root))

<class 'lxml.objectify.ObjectifiedElement'>

### Interact with Web API

In [48]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues' # url with JSON file
resp = requests.get(url)

In [49]:
print(resp)
print(type(resp))

<Response [200]>
<class 'requests.models.Response'>

In [50]:
data = resp.json()
print(type(data))

<class 'list'>

In [51]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40741',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40741/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40741/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40741/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/40741',
  'id': 848789870,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjA3NjcxNjYw',
  'number': 40741,
  'title': 'BUG: DTBlock/TDBlock.delete casting to ndarray',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-04-01T21:07:39Z',
  'updated_at': '2021-04-01T23:25:32Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/40741',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/40741',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/40741.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/40741.patch'},
  'body': '- [ ] closes #xxxx\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n- [ ] whatsnew entry\r\n\r\nxref #40386 (does not close)',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40740',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40740/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40740/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40740/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/40740',
  'id': 848756938,
  'node_id': 'MDU6SXNzdWU4NDg3NTY5Mzg=',
  'number': 40740,
  'title': 'ENH: LogicalSlice object',
  'user': {'login': 'Melendowski',
   'id': 36213781,
   'node_id': 'MDQ6VXNlcjM2MjEzNzgx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/36213781?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Melendowski',
   'html_url': 'https://github.com/Melendowski',
   'followers_url': 'https://api.github.com/users/Melendowski/followers',
   'following_url': 'https://api.github.com/users/Melendowski/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Melendowski/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Melendowski/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Melendowski/subscriptions',
   'organizations_url': 'https://api.github.com/users/Melendowski/orgs',
   'repos_url': 'https://api.github.com/users/Melendowski/repos',
   'events_url': 'https://api.github.com/users/Melendowski/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Melendowski/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-04-01T20:11:48Z',
  'updated_at': '2021-04-01T20:41:55Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': 'EDIT: Updated Example Code\r\n\r\n#### Is your feature request related to a problem?\r\nI was trying to perform a method chained logical mask without an intermediate assignment and found the method of passing the logical mask or callable to `.loc` to be verbose. I am trying to reduce that verbosity.\r\n\r\nExamples\r\n\r\n```python\r\n\r\n(df_xtra_metadata.loc[(df_xtra_metadata[\'column\'] == val) & (df_xtra_metadata[\'column2\'] >= val2)]\r\n    .reset_index()\r\n)\r\n\r\n# or with a callable, shorter but still long\r\n(df_xtra_metadata.loc[lambda x: (x[\'column\'] == val) & (x[\'column2\'] >= val2)]\r\n   .reset_index()\r\n)\r\n\r\n# not as long but requires assigning and deleting the mask in the scope\r\nmask = (df_xtra_metadata[\'column\'] == val) & (df_xtra_metadata[\'column2\'] >= val2)\r\ndf.loc[mask].reset_index()\r\n```\r\n\r\n#### Describe the solution you\'d like\r\n\r\nI would like an object similar to `pd.IndexSlice` but instead is initialized with some metadata and then when called (which takes in the dataframe) computes the logical mask. \r\n\r\n#### API breaking implications\r\n\r\nThis feature would add to the existing API but in a non obtrusive way and would not conflict with any of the current API.\r\n\r\n#### Describe alternatives you\'ve considered\r\nI haven\'t considered any alternatives, I wrote this for myself and thought maybe it would be useful to others.\r\n\r\n#### Additional context\r\n\r\nSo below is the code I wrote toying around with this idea. \r\n\r\n```python\r\nfrom __future__ import annotations\r\nfrom operator import and_, eq, ge, getitem, gt, invert, le, lt, ne, or_, xor\r\nfrom typing import Any, Callable, Literal, Union\r\n\r\nimport pandas as pd\r\n\r\n\r\nclass LogicalSlice:\r\n    """Create objects to more easily calculate logical masks inplace for slicing DataFrames."""\r\n    ops = {\r\n        ">": gt,\r\n        "<": lt,\r\n        ">=": ge,\r\n        "<=": le,\r\n        "==": eq,\r\n        "!=": ne,\r\n        "in": pd.Series.isin,\r\n    }\r\n\r\n    __slots__ = ("_repr", "_closure", "_body")\r\n\r\n    def __init__(\r\n        self, column: Any, op: Literal[">", "<", ">=", "<=", "==", "!=", "in"], val: Any\r\n    ) -> None:\r\n        operation: Union[gt, lt, ge, le, eq, ne, pd.Series.isin] = self.ops[op]\r\n\r\n        def closure(df: pd.DataFrame) -> pd.Series:\r\n            return operation(getitem(df, column), val)\r\n\r\n        self._closure: Callable[pd.DataFrame, pd.Series] = closure\r\n        if isinstance(column, str):\r\n            col: str = f"\'{column}\'"\r\n        else:\r\n            col: str = str(column)\r\n        if op == "in":\r\n            op_rhs: str = f".isin({val})"\r\n        else:\r\n            op_rhs: str = f" {op} {val}"\r\n        body: str = f"df[{col}]{op_rhs}"\r\n        self._set_body(body)\r\n\r\n    def __call__(self, df: pd.DataFrame) -> pd.Series:\r\n        return self._closure(df)\r\n\r\n    def __repr__(self) -> str:\r\n        return self._repr\r\n\r\n    def __invert__(self) -> LogicalSlice:\r\n        inverted: LogicalSlice = self._compose(invert, self)\r\n        body: str = f"~({self._body})"\r\n        inverted._set_body(body)\r\n        return inverted\r\n\r\n    def __and__(self, other: LogicalSlice) -> LogicalSlice:\r\n        conjunction: LogicalSlice = self._compose(and_, self, other)\r\n        body: str = f"({self._body}) & ({other._body})"\r\n        conjunction._set_body(body)\r\n        return conjunction\r\n\r\n    def __or__(self, other: LogicalSlice) -> LogicalSlice:\r\n        disjunction: LogicalSlice = self._compose(or_, self, other)\r\n        body: str = f"({self._body}) | ({other._body})"\r\n        disjunction._set_body(body)\r\n        return disjunction\r\n\r\n    def __xor__(self, other: LogicalSlice):\r\n        symetric_difference: LogicalSlice = self._compose(xor, self, other)\r\n        body: str = f"({self._body}) ^ ({other._body})"\r\n        symetric_difference._set_body(body)\r\n        return symetric_difference\r\n\r\n    def _set_body(self, body: str) -> None:\r\n        self._body = body\r\n        self._repr = f"lambda df: {body}"\r\n\r\n    @classmethod\r\n    def _compose(\r\n        cls, operation: Union[invert, xor, and_, or_], *operands: LogicalSlice\r\n    ) -> LogicalSlice:\r\n        new_logical_slice = cls.__new__(cls)\r\n\r\n        def closure(df: pd.DataFrame) -> pd.Series:\r\n            return operation(*(operand(df) for operand in operands))\r\n\r\n        new_logical_slice._closure = closure\r\n        return new_logical_slice\r\n```\r\n\r\nHere is some example code of the API. I suppose it should\r\n\r\n```python\r\nIn [7]: import pandas as pd\r\n\r\nIn [8]: import numpy as np\r\n\r\nIn [9]: mask = pd.LogicalSlice\r\n\r\nIn [10]: # create dummy dataframe for example\r\n\r\nIn [11]: df = pd.DataFrame(np.random.randn(8, 5), index=list(range(8)), columns=[1,2,3,4,5])\r\n\r\nIn [12]: df\r\nOut[12]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n1  0.266829  1.021803  0.112757  1.912192 -0.629621\r\n2  0.796544 -0.584199 -0.958174  0.817412 -0.148881\r\n3  0.436404  0.528461  0.911095  0.854496  2.047070\r\n4 -0.144312 -2.274132  0.129994 -2.413109  1.248950\r\n5 -0.233113 -2.028095 -0.164058  0.912749  2.717956\r\n6 -1.537385  1.881949 -1.567367  0.489918 -1.142897\r\n7 -0.411876 -1.044270 -0.869536  0.878700  0.077144\r\n\r\nIn [13]: # get the rows where column 1 is greater than 0 using pd.LogicalSlice\r\n\r\nIn [16]: df.loc[mask(1, ">", 0)]\r\nOut[16]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n1  0.266829  1.021803  0.112757  1.912192 -0.629621\r\n2  0.796544 -0.584199 -0.958174  0.817412 -0.148881\r\n3  0.436404  0.528461  0.911095  0.854496  2.047070\r\n\r\nIn [17]: # bind the mask to a variable for later user\r\n\r\nIn [18]: non_neg = mask(1, ">", 0)\r\n\r\nIn [19]: # repr displays a lambda but its a closure under the hood\r\n\r\nIn [20]: non_neg\r\nOut[20]: lambda df: df[1] > 0\r\n\r\nIn [21]: df.loc[non_neg]\r\nOut[21]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n1  0.266829  1.021803  0.112757  1.912192 -0.629621\r\n2  0.796544 -0.584199 -0.958174  0.817412 -0.148881\r\n3  0.436404  0.528461  0.911095  0.854496  2.047070\r\n\r\nIn [22]: # multiple LogicalSlices can be combined using bitwise operators\r\n\r\nIn [23]: non_neg & mask(2, ">", 0)\r\nOut[23]: lambda df: (df[1] > 0) & (df[2] > 0)\r\n\r\nIn [24]: df.loc[non_neg & mask(2, ">", 0)]\r\nOut[24]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n1  0.266829  1.021803  0.112757  1.912192 -0.629621\r\n3  0.436404  0.528461  0.911095  0.854496  2.047070\r\n\r\nIn [25]: # the traditional method\r\n\r\nIn [26]: df.loc[(df[1] > 0) & (df[2] > 0)]\r\nOut[26]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n1  0.266829  1.021803  0.112757  1.912192 -0.629621\r\n3  0.436404  0.528461  0.911095  0.854496  2.047070\r\n\r\nIn [27]: # combining multiple masks\r\n\r\nIn [28]: ~(non_neg & mask(2, ">", 0)) | mask(4, "<", 0)\r\nOut[28]: lambda df: (~((df[1] > 0) & (df[2] > 0))) | (df[4] < 0)\r\n\r\nIn [29]: big_mask = ~(non_neg & mask(2, ">", 0)) | mask(4, "<", 0)\r\n\r\nIn [30]: big_mask\r\nOut[30]: lambda df: (~((df[1] > 0) & (df[2] > 0))) | (df[4] < 0)\r\n\r\nIn [31]: df.loc[big_mask]\r\nOut[31]:\r\n          1         2         3         4         5\r\n0  2.146687  1.111394  0.782805 -0.664520 -0.775198\r\n2  0.796544 -0.584199 -0.958174  0.817412 -0.148881\r\n4 -0.144312 -2.274132  0.129994 -2.413109  1.248950\r\n5 -0.233113 -2.028095 -0.164058  0.912749  2.717956\r\n6 -1.537385  1.881949 -1.567367  0.489918 -1.142897\r\n7 -0.411876 -1.044270 -0.869536  0.878700  0.077144\r\n```',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40739',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40739/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40739/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40739/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/40739',
  'id': 848730606,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjA3NjIyMTQ0',
  'number': 40739,
  'title': 'Backport PR #40718 on branch 1.2.x (COMPAT: matplotlib 3.4.0)',
  'user': {'login': 'meeseeksmachine',
   'id': 39504233,
   'node_id': 'MDQ6VXNlcjM5NTA0MjMz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/39504233?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/meeseeksmachine',
   'html_url': 'https://github.com/meeseeksmachine',
   'followers_url': 'https://api.github.com/users/meeseeksmachine/followers',
   'following_url': 'https://api.github.com/users/meeseeksmachine/following{/other_user}',
   'gists_url': 'https://api.github.com/users/meeseeksmachine/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/meeseeksmachine/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/meeseeksmachine/subscriptions',
   'organizations_url': 'https://api.github.com/users/meeseeksmachine/orgs',
   'repos_url': 'https://api.github.com/users/meeseeksmachine/repos',
   'events_url': 'https://api.github.com/users/meeseeksmachine/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/meeseeksmachine/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76865106,
    'node_id': 'MDU6TGFiZWw3Njg2NTEwNg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Compat',
    'name': 'Compat',
    'color': '0052cc',
    'default': False,
    'description': 'Related to pandas compatibility with other libraries'},
   {'id': 2413328,
    'node_id': 'MDU6TGFiZWwyNDEzMzI4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Visualization',
    'name': 'Visualization',
    'color': '8AE234',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/84',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/84',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/84/labels',
   'id': 6490488,
   'node_id': 'MDk6TWlsZXN0b25lNjQ5MDQ4OA==',
   'number': 84,
   'title': '1.2.4',
   'description': 'on-merge: backport to 1.2.x',
   'creator': {'login': 'simonjayhawkins',
    'id': 13159005,
    'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/simonjayhawkins',
    'html_url': 'https://github.com/simonjayhawkins',
    'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
    'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
    'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
    'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
    'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
    'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 12,
   'closed_issues': 25,
   'state': 'open',
   'created_at': '2021-03-01T08:32:08Z',
   'updated_at': '2021-04-01T19:28:20Z',
   'due_on': '2021-04-01T07:00:00Z',
   'closed_at': None},
  'comments': 1,
  'created_at': '2021-04-01T19:28:19Z',
  'updated_at': '2021-04-01T20:09:00Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/40739',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/40739',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/40739.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/40739.patch'},
  'body': 'Backport PR #40718: COMPAT: matplotlib 3.4.0',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40738',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40738/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40738/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40738/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/40738',
  'id': 848722532,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjA3NjE1MjEz',
  'number': 40738,
  'title': 'BUG: Fix nanvar for large float16 arrays',
  'user': {'login': 'trentondelahaye',
   'id': 34072635,
   'node_id': 'MDQ6VXNlcjM0MDcyNjM1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/34072635?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/trentondelahaye',
   'html_url': 'https://github.com/trentondelahaye',
   'followers_url': 'https://api.github.com/users/trentondelahaye/followers',
   'following_url': 'https://api.github.com/users/trentondelahaye/following{/other_user}',
   'gists_url': 'https://api.github.com/users/trentondelahaye/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/trentondelahaye/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/trentondelahaye/subscriptions',
   'organizations_url': 'https://api.github.com/users/trentondelahaye/orgs',
   'repos_url': 'https://api.github.com/users/trentondelahaye/repos',
   'events_url': 'https://api.github.com/users/trentondelahaye/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/trentondelahaye/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 57296398,
    'node_id': 'MDU6TGFiZWw1NzI5NjM5OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Algos',
    'name': 'Algos',
    'color': 'eb6420',
    'default': False,
    'description': 'Non-arithmetic algos: value_counts, factorize, sorting, isin, clip, shift, diff'},
   {'id': 31404521,
    'node_id': 'MDU6TGFiZWwzMTQwNDUyMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Dtypes',
    'name': 'Dtypes',
    'color': 'e102d8',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,

In [52]:
output = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])

In [53]:
output

,number,title,labels,state
0,40741,BUG: DTBlock/TDBlock.delete casting to ndarray,[],open
1,40740,ENH: LogicalSlice object,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
2,40739,Backport PR #40718 on branch 1.2.x (COMPAT: ma...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
3,40738,BUG: Fix nanvar for large float16 arrays,"[{'id': 57296398, 'node_id': 'MDU6TGFiZWw1NzI5...",open
4,40737,TYP overload fillna,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
5,40735,BUG (?): dtype.value_counts() shows categorica...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,40734,Backport PR #40723 on branch 1.2.x (BUG: fix c...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
7,40733,REF: implement groupby.ops.WrappedCythonFunc,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
8,40732,BUG: Dtypes change when using `replace` with n...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,40731,ENH: `Styler.to_latex` conversion from CSS,[],open
10,40730,BUG: qcut fails with Float64Dtype,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,40729,BUG: Cannot convert from `object` numeric stri...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,40728,REF: only fallback to masked op for object dtype,"[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...",open
13,40726,BUG: Do not allow boolean values for indexing ...,[],open
14,40725,BUG: [ArrowStringArray] Recognize ArrowStringA...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,40721,BUG: to_sql performance decreases dramatically...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,40720,BUG: GroupBy.apply doesn't add group keys to ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,40719,BUG: tm.assert_frame_equal fails to raise near...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,40717,REF: RangeIndex dont subclass Int64Index,[],open
19,40716,TYP: groupby.pyi,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
20,40715,CLN: follow-up cleanups,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
21,40712,ENH: add dataframe render trimming in `Styler`...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,40711,CI: increase codecov target - append ArrayMana...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
23,40708,ENH: [ArrowStringArray] Enable the string meth...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
24,40707,TYP/DOC: _libs,[],open
25,40706,Fix libpthread not found during local installa...,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
26,40705,BUG: Incorrect timedelta with tz_localize and ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,40702,ENH: Having rolling accepts pd.IntervalIndex o...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
28,40701,BUG: RollingGroupby MultiIndex levels dropped,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,40696,"CI: unpin pymysql, sync min version, and skip ...","[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open

## Read data from MySQL Server

In [55]:
db = pymysql.connect(host="localhost",
                     user="testuser",
                     password="test123",
                     database="world")

sql_querry = 'SELECT * FROM country'
df1 = pd.read_sql(sql_querry, db)
db.close()

In [56]:
df1

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

## Clipboard

In [ ]:
  A B C
x 1 2 a
y 2 3 c
z 3 4 b

In [60]:
df = pd.read_clipboard()
df

   A  B  C
x  1  2  a
y  2  3  c
z  3  4  b

In [62]:
df = pd.DataFrame(np.random.randn(5,3))
df

          0         1         2
0 -0.545361 -0.405911 -0.038922
1  0.719167  0.099425  1.044155
2  0.796796  1.229476  1.455318
3 -0.652150 -0.118321 -0.280772
4  2.093768  0.983204  0.703151

In [63]:
df.to_clipboard()

In [ ]:
	0	1	2
0	-0.5453608579551631	-0.40591073683729667	-0.038921741278140354
1	0.7191668027498395	0.09942522214925913	1.044154504828796
2	0.7967958632566197	1.2294763932835417	1.455317696477365
3	-0.65214961939385	-0.118321193602137	-0.2807715847814804
4	2.0937677484406154	0.9832036937774125	0.703151412896491

## Handle mising data

In [6]:
data = ['Apple', 'Google', np.nan, 'Facebook']
s1 = pd.Series(data)
print(s1)

0       Apple
1      Google
2         NaN
3    Facebook
dtype: object

In [4]:
s1.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
s1.dropna()

0       Apple
1      Google
3    Facebook
dtype: object

In [7]:
s1[s1.notnull()]

0       Apple
1      Google
3    Facebook
dtype: object

In [14]:
df1 = pd.DataFrame([[2, 3, 35],
                    [54, np.nan, np.nan],
                    [np.nan, np.nan, np.nan],
                    [np.nan, 3, 6]])
print(df1)

      0    1     2
0   2.0  3.0  35.0
1  54.0  NaN   NaN
2   NaN  NaN   NaN
3   NaN  3.0   6.0

In [13]:
df1.dropna(inplace=True) # drops all rows that have NaN i.e. missing data
print(df1)

     0    1     2
0  2.0  3.0  35.0

In [15]:
# Rerun df1 cell
df1.dropna(how='all')

      0    1     2
0   2.0  3.0  35.0
1  54.0  NaN   NaN
3   NaN  3.0   6.0

In [18]:
df2 = pd.DataFrame(np.random.randn(7,5))
df2

          0         1         2         3         4
0 -1.095762 -1.457763 -0.084627  0.186606  0.651068
1 -0.275092 -0.147657  0.309674  0.608833 -0.642729
2 -0.934096  0.028524  1.981003 -1.955778 -0.663725
3 -0.985030  0.736849  0.379025  0.896279  2.513927
4  0.330780  1.459667 -0.930262  1.199104 -0.365967
5 -1.786593  0.600920  0.606528 -0.259660 -0.033583
6 -0.330763 -0.050361 -0.212446  2.125035 -1.117311

In [24]:
df2.iloc[:4, 1] = df2.iloc[:3, 3] = np.nan
df2

          0         1         2         3         4
0 -1.095762       NaN -0.084627       NaN  0.651068
1 -0.275092       NaN  0.309674       NaN -0.642729
2 -0.934096       NaN  1.981003       NaN -0.663725
3 -0.985030       NaN  0.379025  0.896279  2.513927
4  0.330780  1.459667 -0.930262  1.199104 -0.365967
5 -1.786593  0.600920  0.606528 -0.259660 -0.033583
6 -0.330763 -0.050361 -0.212446  2.125035 -1.117311

In [22]:
df2.fillna(0)

          0         1         2         3         4
0 -1.095762  0.000000 -0.084627  0.000000  0.651068
1 -0.275092  0.000000  0.309674  0.000000 -0.642729
2 -0.934096  0.000000  1.981003  0.000000 -0.663725
3 -0.985030  0.000000  0.379025  0.896279  2.513927
4  0.330780  1.459667 -0.930262  1.199104 -0.365967
5 -1.786593  0.600920  0.606528 -0.259660 -0.033583
6 -0.330763 -0.050361 -0.212446  2.125035 -1.117311

In [25]:
df2.fillna(df2.mean())

          0         1         2         3         4
0 -1.095762  0.670075 -0.084627  0.990189  0.651068
1 -0.275092  0.670075  0.309674  0.990189 -0.642729
2 -0.934096  0.670075  1.981003  0.990189 -0.663725
3 -0.985030  0.670075  0.379025  0.896279  2.513927
4  0.330780  1.459667 -0.930262  1.199104 -0.365967
5 -1.786593  0.600920  0.606528 -0.259660 -0.033583
6 -0.330763 -0.050361 -0.212446  2.125035 -1.117311

In [26]:
df2.mean() # returns mean value of each row

0   -0.725222
1    0.670075
2    0.292699
3    0.990189
4    0.048811
dtype: float64

In [27]:
np.mean(df2.mean())

0.2553105378212717

## Remove duplicates

In [36]:
custom_dict = {'c1' : ['Three', 'One'] * 3 + ['One'],
               'c2' : [1, 1, 2, 3, 3, 4, 4]}
df3 = pd.DataFrame(custom_dict)
df3

      c1  c2
0  Three   1
1    One   1
2  Three   2
3    One   3
4  Three   3
5    One   4
6    One   4

In [37]:
df3.duplicated() # returns True if the entire row is duplicated

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [38]:
df3.drop_duplicates()

      c1  c2
0  Three   1
1    One   1
2  Three   2
3    One   3
4  Three   3
5    One   4

In [40]:
df3.drop_duplicates(['c1']) # drops rows with duplicates in the specified column

      c1  c2
0  Three   1
1    One   1

In [41]:
df3.drop_duplicates(['c2'])

      c1  c2
0  Three   1
2  Three   2
3    One   3
5    One   4

In [42]:
s2 = pd.Series([np.pi, -999, 2.87, -999, -1000, 3, 100])
s2

0       3.141593
1    -999.000000
2       2.870000
3    -999.000000
4   -1000.000000
5       3.000000
6     100.000000
dtype: float64

In [43]:
s2.replace(-999, 0)

0       3.141593
1       0.000000
2       2.870000
3       0.000000
4   -1000.000000
5       3.000000
6     100.000000
dtype: float64

In [44]:
s2.replace([-999, -1000], 0)

0      3.141593
1      0.000000
2      2.870000
3      0.000000
4      0.000000
5      3.000000
6    100.000000
dtype: float64

In [45]:
s2.replace([-999, -1000], [0, np.nan])

0      3.141593
1      0.000000
2      2.870000
3      0.000000
4           NaN
5      3.000000
6    100.000000
dtype: float64

## String manipulation

In [48]:
test_string = 'a,b, test'
test_string

'a,b, test'

In [49]:
test_string.split()

['a,b,', 'test']

In [50]:
test_string.split(',')

['a', 'b', ' test']

In [58]:
a = 'androidan'
a.strip('an')

'droid'

In [53]:
var = [x.strip() for x in test_string.split(',')]
var

['a', 'b', 'test']

In [59]:
x, y, z = var

In [60]:
x + ':' + y + ':' + z

'a:b:test'

In [61]:
':'.join(var)

'a:b:test'

In [67]:
my_array = np.arange(10)
my_array = [str(x) for x in my_array]
', '.join(my_array)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

# Data Analysis and Wrangling with Pandas

## Hierarchical indexing

In [99]:
ds1 = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
ds1

a  1   -0.450069
   2    1.029041
   3    0.888173
b  1    1.852513
   2    1.565013
   3    0.369494
c  1    0.587384
   2    0.716385
   3    1.305033
dtype: float64

In [100]:
ds1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('c', 3)],
           )

In [101]:
ds1['b']

1    1.852513
2    1.565013
3    0.369494
dtype: float64

In [103]:
ds2 = ds1.copy()
del ds2['a']
ds2

b  1    1.852513
   2    1.565013
   3    0.369494
c  1    0.587384
   2    0.716385
   3    1.305033
dtype: float64

In [104]:
ds1.loc[['b', 'a']]

b  1    1.852513
   2    1.565013
   3    0.369494
a  1   -0.450069
   2    1.029041
   3    0.888173
dtype: float64

In [105]:
ds1.unstack()

          1         2         3
a -0.450069  1.029041  0.888173
b  1.852513  1.565013  0.369494
c  0.587384  0.716385  1.305033

In [108]:
print(type(ds1))
print(type(ds1.unstack()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [109]:
ds1.unstack().stack()

a  1   -0.450069
   2    1.029041
   3    0.888173
b  1    1.852513
   2    1.565013
   3    0.369494
c  1    0.587384
   2    0.716385
   3    1.305033
dtype: float64

In [127]:
df1 = pd.DataFrame(np.arange(12).reshape((4, 3)),
                   index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                   columns = [['Skopje', 'Skopje', 'Belgrad'], ['Red', 'Green', 'Blue']])
df1

    Skopje       Belgrad
       Red Green    Blue
a 1      0     1       2
  2      3     4       5
b 1      6     7       8
  2      9    10      11

In [141]:
df1.index.names = ['index1', 'index2']
df1

cities        Skopje       Belgrad
color            Red Green    Blue
index1 index2
a      1           0     1       2
       2           3     4       5
b      1           6     7       8
       2           9    10      11

In [129]:
df1.columns.names = ['cities', 'color']
df1

cities        Skopje       Belgrad
color            Red Green    Blue
index1 index2
a      1           0     1       2
       2           3     4       5
b      1           6     7       8
       2           9    10      11

In [130]:
df1['Skopje']

color          Red  Green
index1 index2
a      1         0      1
       2         3      4
b      1         6      7
       2         9     10

In [131]:
df1['Belgrad']

color          Blue
index1 index2
a      1          2
       2          5
b      1          8
       2         11

In [137]:
df1.swaplevel(0,1)

cities    Skopje       Belgrad
color        Red Green    Blue
key2 key1
1    a         0     1       2
2    a         3     4       5
1    b         6     7       8
2    b         9    10      11

In [142]:
df1.swaplevel('index1', 'index2')

cities        Skopje       Belgrad
color            Red Green    Blue
index2 index1
1      a           0     1       2
2      a           3     4       5
1      b           6     7       8
2      b           9    10      11

In [144]:
df1.sort_index(level=1) # sort by i-th index, in this case level1 corresponds to index2

cities        Skopje       Belgrad
color            Red Green    Blue
index1 index2
a      1           0     1       2
b      1           6     7       8
a      2           3     4       5
b      2           9    10      11

In [145]:
df1.sort_index(level=0)

cities        Skopje       Belgrad
color            Red Green    Blue
index1 index2
a      1           0     1       2
       2           3     4       5
b      1           6     7       8
       2           9    10      11

## Summary statistics by level

In [146]:
df1 = pd.DataFrame(np.arange(12).reshape((4, 3)),
                   index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                   columns = [['Skopje', 'Skopje', 'Belgrad'], ['Red', 'Green', 'Blue']])
df1.index.names = ['key1', 'key2']
df1

          Skopje       Belgrad
             Red Green    Blue
key1 key2
a    1         0     1       2
     2         3     4       5
b    1         6     7       8
     2         9    10      11

In [148]:
df1.loc['a']

     Skopje       Belgrad
        Red Green    Blue
key2
1         0     1       2
2         3     4       5

In [152]:
df1.sum(level=1)

     Skopje       Belgrad
        Red Green    Blue
key2
1         6     8      10
2        12    14      16

In [153]:
df1.sum(level='key2')

     Skopje       Belgrad
        Red Green    Blue
key2
1         6     8      10
2        12    14      16

In [154]:
df1.sum(level='key1')

     Skopje       Belgrad
        Red Green    Blue
key1
a         3     5       7
b        15    17      19

In [155]:
df1.min(level='key1')

     Skopje       Belgrad
        Red Green    Blue
key1
a         0     1       2
b         6     7       8

In [156]:
df1.max(level='key1')

     Skopje       Belgrad
        Red Green    Blue
key1
a         3     4       5
b         9    10      11

## Indexing with DataFrame's columns

In [161]:
df2 = pd.DataFrame({'A' : range(7),
                    'B' : range(6, -1 , -1),
                    'C' :  ['One', 'One', 'One', 'Two', 'Two', 'Two', 'One'],
                    'D' : [0, 1, 2, 0, 1, 2, 0]
                    })
df2

   A  B    C  D
0  0  6  One  0
1  1  5  One  1
2  2  4  One  2
3  3  3  Two  0
4  4  2  Two  1
5  5  1  Two  2
6  6  0  One  0

In [163]:
df3 = df2.set_index(['D', 'C']) # D and C will be used as new index columns (MultiIndex)
df3

       A  B
D C
0 One  0  6
1 One  1  5
2 One  2  4
0 Two  3  3
1 Two  4  2
2 Two  5  1
0 One  6  0

In [164]:
df4 = df2.set_index(['C', 'D'], drop=False)
df4

       A  B    C  D
C   D
One 0  0  6  One  0
    1  1  5  One  1
    2  2  4  One  2
Two 0  3  3  Two  0
    1  4  2  Two  1
    2  5  1  Two  2
One 0  6  0  One  0

## Database style DataFrame joins

In [182]:
df1 = pd.DataFrame({'key' : ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1' : range(7)})
df2 = pd.DataFrame({'key' : ['a', 'b', 'd'],
                    'data2' : range(3)})

In [183]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [184]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [186]:
df3 = pd.merge(df1, df2)
df3

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [189]:
df3 = pd.merge(df1, df2, how='left')
df3

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [190]:
df3 = pd.merge(df1, df2, how='right')
df3

  key  data1  data2
0   a    2.0      0
1   a    4.0      0
2   a    5.0      0
3   b    0.0      1
4   b    1.0      1
5   b    6.0      1
6   d    NaN      2

In [191]:
df3 = pd.merge(df1, df2, on='key')
df3

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [192]:
df1 = pd.DataFrame({'lkey' : ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1' : range(7)})
df2 = pd.DataFrame({'rkey' : ['a', 'b', 'd'],
                    'data2' : range(3)})

In [195]:
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey')
df3

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [199]:
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='inner')
df3

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [200]:
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='left')
df3

  lkey  data1 rkey  data2
0    b      0    b    1.0
1    b      1    b    1.0
2    a      2    a    0.0
3    c      3  NaN    NaN
4    a      4    a    0.0
5    a      5    a    0.0
6    b      6    b    1.0

In [203]:
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='right')
df3

  lkey  data1 rkey  data2
0    a    2.0    a      0
1    a    4.0    a      0
2    a    5.0    a      0
3    b    0.0    b      1
4    b    1.0    b      1
5    b    6.0    b      1
6  NaN    NaN    d      2

In [204]:
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='outer')
df3

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

In [205]:
df1 = pd.DataFrame({'key1' : ['foo', 'foo', 'bar'],
                    'key2' : ['one', 'two', 'one'],
                    'lval' : [1, 2, 3]})
df2 = pd.DataFrame({'key1' : ['foo', 'foo', 'bar', 'bar'],
                    'key2' : ['one', 'one', 'one', 'two'],
                    'lval' : [4, 5, 6, 7]})

In [209]:
df3 = pd.merge(df1, df2, on=['key1', 'key2'], how='outer')
df3

  key1 key2  lval_x  lval_y
0  foo  one     1.0     4.0
1  foo  one     1.0     5.0
2  foo  two     2.0     NaN
3  bar  one     3.0     6.0
4  bar  two     NaN     7.0

## Merge on index

In [210]:
df1 = pd.DataFrame({'key' : ['a', 'b', 'a', 'a', 'b', 'c'],
                    'value' : range(6)})
df2 = pd.DataFrame({'val' : [1, 2]}, index=['a', 'b'])

In [211]:
df1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [212]:
df2

   val
a    1
b    2

In [215]:
pd.merge(df1, df2, left_on='key', right_index=True) # join based on 'key' column of the left df and the index of the right df

  key  value  val
0   a      0    1
2   a      2    1
3   a      3    1
1   b      1    2
4   b      4    2

In [218]:
pd.merge(df1, df2, left_on='key', right_index=True, how='outer').fillna(0)

  key  value  val
0   a      0  1.0
2   a      2  1.0
3   a      3  1.0
1   b      1  2.0
4   b      4  2.0
5   c      5  0.0

In [221]:
df1 = pd.DataFrame({'key1' : ['Skopje', 'Skopje', 'Skopje', 'Tetovo', 'Tetovo'],
                    'key2' : [2000, 2001, 2002, 2001, 2002],
                    'data' : np.arange(5)})
df2 = pd.DataFrame(np.arange(12).reshape((6,2)),
                  index=[['Tetovo', 'Tetovo', 'Skopje', 'Skopje', 'Skopje', 'Skopje'],
                        [2001, 2000, 2000, 2000, 2001, 2002]],
                  columns=['event1','evennt2'])

In [222]:
df1

     key1  key2  data
0  Skopje  2000     0
1  Skopje  2001     1
2  Skopje  2002     2
3  Tetovo  2001     3
4  Tetovo  2002     4

In [223]:
df2

             event1  evennt2
Tetovo 2001       0        1
       2000       2        3
Skopje 2000       4        5
       2000       6        7
       2001       8        9
       2002      10       11

In [224]:
pd.merge(df1, df2, left_on=['key1', 'key2'], right_index=True)

     key1  key2  data  event1  evennt2
0  Skopje  2000     0       4        5
0  Skopje  2000     0       6        7
1  Skopje  2001     1       8        9
2  Skopje  2002     2      10       11
3  Tetovo  2001     3       0        1

In [225]:
pd.merge(df1, df2, left_on=['key1', 'key2'], right_index=True, how='outer')

     key1  key2  data  event1  evennt2
0  Skopje  2000   0.0     4.0      5.0
0  Skopje  2000   0.0     6.0      7.0
1  Skopje  2001   1.0     8.0      9.0
2  Skopje  2002   2.0    10.0     11.0
3  Tetovo  2001   3.0     0.0      1.0
4  Tetovo  2002   4.0     NaN      NaN
4  Tetovo  2000   NaN     2.0      3.0

In [239]:
df1 = pd.DataFrame([[1, 2], [3, 4], [5, 6]],
                    index = ['a', 'c', 'e'],
                    columns=['Skopje', 'Tetovo'])
df2 = pd.DataFrame([[7, 8], [9, 10], [11, 12], [13, 14]],
                    index = ['b', 'c', 'd', 'e'],
                    columns=['Ohrid', 'Struga'])

In [240]:
df1

   Skopje  Tetovo
a       1       2
c       3       4
e       5       6

In [241]:
df2

   Ohrid  Struga
b      7       8
c      9      10
d     11      12
e     13      14

In [244]:
pd.merge(df1, df2, left_index=True, right_index=True, how='outer').fillna(-1)

   Skopje  Tetovo  Ohrid  Struga
a     1.0     2.0   -1.0    -1.0
b    -1.0    -1.0    7.0     8.0
c     3.0     4.0    9.0    10.0
d    -1.0    -1.0   11.0    12.0
e     5.0     6.0   13.0    14.0

In [245]:
pd.merge(df1, df2, left_index=True, right_index=True) # by default it's inner join

   Skopje  Tetovo  Ohrid  Struga
c       3       4      9      10
e       5       6     13      14

In [246]:
df1.join(df2, how='outer')

   Skopje  Tetovo  Ohrid  Struga
a     1.0     2.0    NaN     NaN
b     NaN     NaN    7.0     8.0
c     3.0     4.0    9.0    10.0
d     NaN     NaN   11.0    12.0
e     5.0     6.0   13.0    14.0

In [249]:
df1.join(df2) # default is left outer join

   Skopje  Tetovo  Ohrid  Struga
a       1       2    NaN     NaN
c       3       4    9.0    10.0
e       5       6   13.0    14.0

In [250]:
df1.join(df2, how='inner')

   Skopje  Tetovo  Ohrid  Struga
c       3       4      9      10
e       5       6     13      14

## Group by

In [252]:
df1 = pd.DataFrame({'k1' : ['a', 'a', 'b', 'b', 'a'],
                    'k2' : ['One', 'Two', 'One', 'Two', 'One'],
                    'd1' : np.random.randn(5),
                    'd2' : np.random.randn(5)})
df1

  k1   k2        d1        d2
0  a  One  1.281456 -1.746143
1  a  Two -1.064683 -0.049563
2  b  One  1.026190 -2.092018
3  b  Two -0.003391  1.012367
4  a  One -0.053567 -0.025453

In [264]:
g1 = df1['d1'].groupby(df1['k1'])
print(type(g1))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [265]:
g1.mean()

k1
a    0.054402
b    0.511400
Name: d1, dtype: float64

In [266]:
g1.max()

k1
a    1.281456
b    1.026190
Name: d1, dtype: float64

In [267]:
g1.min()

k1
a   -1.064683
b   -0.003391
Name: d1, dtype: float64

In [268]:
g1.sum()

k1
a    0.163207
b    1.022799
Name: d1, dtype: float64

In [280]:
df1['d1'].groupby([df1['k1'], df1['k2']]).mean()

k1  k2
a   One    0.613945
    Two   -1.064683
b   One    1.026190
    Two   -0.003391
Name: d1, dtype: float64

In [281]:
df1.groupby([df1['k1'], df1['k2']])['d1'].mean() # same result (different syntax)

k1  k2
a   One    0.613945
    Two   -1.064683
b   One    1.026190
    Two   -0.003391
Name: d1, dtype: float64

In [282]:
df1.groupby([df1['k1'], df1['k2']])['d1'].max()

k1  k2
a   One    1.281456
    Two   -1.064683
b   One    1.026190
    Two   -0.003391
Name: d1, dtype: float64

In [283]:
df1.groupby([df1['k1'], df1['k2']])['d1'].min()

k1  k2
a   One   -0.053567
    Two   -1.064683
b   One    1.026190
    Two   -0.003391
Name: d1, dtype: float64

In [284]:
df1.groupby(['k1', 'k2'])['d1'].min() # same result (different syntax)

k1  k2
a   One   -0.053567
    Two   -1.064683
b   One    1.026190
    Two   -0.003391
Name: d1, dtype: float64

In [286]:
df1.groupby('k1').count() # count of rows
# SELECT COUNT(*) FROM df1 GROUP BY k1

    k2  d1  d2
k1
a    3   3   3
b    2   2   2

In [287]:
df1.groupby('k1').sum()

          d1        d2
k1
a   0.163207 -1.821159
b   1.022799 -1.079651

In [288]:
df1.groupby('k1').median()

          d1        d2
k1
a  -0.053567 -0.049563
b   0.511400 -0.539826

In [290]:
df1.groupby('k1').first() #first 2 members of the group
# group by makes elements from k1 column to be the new indexes

     k2        d1        d2
k1
a   One  1.281456 -1.746143
b   One  1.026190 -2.092018

In [291]:
df1.groupby('k1').last() #last 2 members of the group

     k2        d1        d2
k1
a   One -0.053567 -0.025453
b   Two -0.003391  1.012367

## Concat along axis

In [2]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index=['d', 'e', 'f'])
s3 = pd.Series([7, 8, 9], index=['g', 'h', 'i'])

In [6]:
pd.concat([s1, s2, s3])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [8]:
pd.concat([s1, s2, s3], axis=1, sort=False) # default axis=0 - concat vertically
# axis=1 means concat horizontally

     0    1    2
a  1.0  NaN  NaN
b  2.0  NaN  NaN
c  3.0  NaN  NaN
d  NaN  4.0  NaN
e  NaN  5.0  NaN
f  NaN  6.0  NaN
g  NaN  NaN  7.0
h  NaN  NaN  8.0
i  NaN  NaN  9.0

In [11]:
pd.concat([s1, s2, s3], axis=1, join='inner', sort=False)

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [12]:
pd.concat([s1, s2, s3], axis=1, join='outer', sort=False)

     0    1    2
a  1.0  NaN  NaN
b  2.0  NaN  NaN
c  3.0  NaN  NaN
d  NaN  4.0  NaN
e  NaN  5.0  NaN
f  NaN  6.0  NaN
g  NaN  NaN  7.0
h  NaN  NaN  8.0
i  NaN  NaN  9.0

In [13]:
result = pd.concat([s1, s2, s3], keys=['one', 'two', 'three'])
result

one    a    1
       b    2
       c    3
two    d    4
       e    5
       f    6
three  g    7
       h    8
       i    9
dtype: int64

In [16]:
result.unstack()

         a    b    c    d    e    f    g    h    i
one    1.0  2.0  3.0  NaN  NaN  NaN  NaN  NaN  NaN
two    NaN  NaN  NaN  4.0  5.0  6.0  NaN  NaN  NaN
three  NaN  NaN  NaN  NaN  NaN  NaN  7.0  8.0  9.0

In [17]:
result.unstack().stack() # dtype changed to float64

one    a    1.0
       b    2.0
       c    3.0
two    d    4.0
       e    5.0
       f    6.0
three  g    7.0
       h    8.0
       i    9.0
dtype: float64

In [24]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2),
                   index=['a', 'b', 'c'],
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2),
                   index=['a', 'c'],
                   columns=['three', 'four'])

In [25]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [26]:
df2

   three  four
a      5     6
c      7     8

In [27]:
pd.concat([df1, df2])

   one  two  three  four
a  0.0  1.0    NaN   NaN
b  2.0  3.0    NaN   NaN
c  4.0  5.0    NaN   NaN
a  NaN  NaN    5.0   6.0
c  NaN  NaN    7.0   8.0

In [29]:
pd.concat([df1, df2], sort=True)

   four  one  three  two
a   NaN  0.0    NaN  1.0
b   NaN  2.0    NaN  3.0
c   NaN  4.0    NaN  5.0
a   6.0  NaN    5.0  NaN
c   8.0  NaN    7.0  NaN

In [30]:
pd.concat([df1, df2], axis=1)

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

In [31]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [32]:
pd.concat([df1, df2], ignore_index=True)

   one  two  three  four
0  0.0  1.0    NaN   NaN
1  2.0  3.0    NaN   NaN
2  4.0  5.0    NaN   NaN
3  NaN  NaN    5.0   6.0
4  NaN  NaN    7.0   8.0

In [33]:
pd.concat([df1, df2], ignore_index=True, join='inner')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [34]:
pd.concat([df1, df2], ignore_index=True, join='outer')

   one  two  three  four
0  0.0  1.0    NaN   NaN
1  2.0  3.0    NaN   NaN
2  4.0  5.0    NaN   NaN
3  NaN  NaN    5.0   6.0
4  NaN  NaN    7.0   8.0

## Combining data with overlap

In [47]:
df1 = pd.DataFrame([[1, np.nan, 2, np.nan]])
df2 = pd.DataFrame([[3, 4, 5, 6]])

In [48]:
df1

   0   1  2   3
0  1 NaN  2 NaN

In [49]:
df2

   0  1  2  3
0  3  4  5  6

In [55]:
# if the element is NaN swap it with the corresponding element of the other DataFrame
df1.combine_first(df2)

   0    1  2    3
0  1  4.0  2  6.0

In [54]:
df1.combine_first(df2).astype(int)

   0  1  2  3
0  1  4  2  6

In [56]:
df2.combine_first(df1)

   0  1  2  3
0  3  4  5  6

In [58]:
df3 = pd.DataFrame([[3, np.nan, np.nan, 6]])

In [59]:
df3.combine_first(df1)

   0   1    2  3
0  3 NaN  2.0  6

In [60]:
df3.combine_first(df1).combine_first(df2)

   0    1    2  3
0  3  4.0  2.0  6

## Text and strings

In [62]:
s1 = pd.Series(['A', 'B', np.nan, 'C', 'Abba', 'Apple', np.nan, 'DOLL', 'lion', 'tiger'])
s1

0        A
1        B
2      NaN
3        C
4     Abba
5    Apple
6      NaN
7     DOLL
8     lion
9    tiger
dtype: object

In [65]:
s1.str.lower()

0        a
1        b
2      NaN
3        c
4     abba
5    apple
6      NaN
7     doll
8     lion
9    tiger
dtype: object

In [66]:
s1.str.upper()

0        A
1        B
2      NaN
3        C
4     ABBA
5    APPLE
6      NaN
7     DOLL
8     LION
9    TIGER
dtype: object

In [70]:
s1.str.len()

0    1.0
1    1.0
2    NaN
3    1.0
4    4.0
5    5.0
6    NaN
7    4.0
8    4.0
9    5.0
dtype: float64

In [71]:
s1.str.len().fillna(0).astype(int)

0    1
1    1
2    0
3    1
4    4
5    5
6    0
7    4
8    4
9    5
dtype: int32

In [72]:
s2 = pd.Series([' Mac', 'Dejan ', ' Dichoski', ' Peter '])
s2

0          Mac
1       Dejan
2     Dichoski
3       Peter
dtype: object

In [73]:
s2.str.lstrip()

0         Mac
1      Dejan
2    Dichoski
3      Peter
dtype: object

In [74]:
s2.str.rstrip()

0          Mac
1        Dejan
2     Dichoski
3        Peter
dtype: object

In [77]:
s2.str.strip()

0         Mac
1       Dejan
2    Dichoski
3       Peter
dtype: object

In [78]:
s2.str.strip().str.upper()

0         MAC
1       DEJAN
2    DICHOSKI
3       PETER
dtype: object

In [79]:
(s2.str.strip()).str.lower() # parentesis used just to point out how it works - they are not needed

0         mac
1       dejan
2    dichoski
3       peter
dtype: object

In [80]:
s3 = pd.Series(['a b', 'c d', 'e f'])
s3

0    a b
1    c d
2    e f
dtype: object

In [82]:
s3.str.replace(' ', '_')

0    a_b
1    c_d
2    e_f
dtype: object

In [83]:
s4 = pd.Series(['a_b_c', np.nan, 'c_d_e', 'f_g_h'])
s4

0    a_b_c
1      NaN
2    c_d_e
3    f_g_h
dtype: object

In [87]:
s4.str.split('_')

0    [a, b, c]
1          NaN
2    [c, d, e]
3    [f, g, h]
dtype: object

In [88]:
type(s4[0])

str

In [103]:
def is_nan(x):
    return (x != x)

s5 = s4.str.split('_')
for ind, val in enumerate(s5):
    if is_nan(val):
        continue
    s5[ind] = ''.join(val)
    print(s5[ind])

abc
cde
fgh

In [106]:
np.nan == np.nan

False

In [104]:
s5

0    abc
1    NaN
2    cde
3    fgh
dtype: object

In [105]:
s4.str.replace('_', '')

0    abc
1    NaN
2    cde
3    fgh
dtype: object

In [108]:
s4.str.split('_')

0    [a, b, c]
1          NaN
2    [c, d, e]
3    [f, g, h]
dtype: object

In [107]:
s4.str.split('_').str.get(1) # get elements on position 1

0      b
1    NaN
2      d
3      g
dtype: object

In [111]:
s4.str.split('_').str[0] # get elements on position 0

0      a
1    NaN
2      c
3      f
dtype: object

In [114]:
s4.str.split('_', expand=True) # converts it to DataFrame

     0    1    2
0    a    b    c
1  NaN  NaN  NaN
2    c    d    e
3    f    g    h

In [115]:
print(type(s4.str.split('_', expand=False)))
print(type(s4.str.split('_', expand=True)))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [118]:
s4.str.split('_', expand=True, n=2) # split 2 times

     0    1    2
0    a    b    c
1  NaN  NaN  NaN
2    c    d    e
3    f    g    h

In [119]:
s4.str.split('_', expand=True, n=1) # split once

     0    1
0    a  b_c
1  NaN  NaN
2    c  d_e
3    f  g_h

In [125]:
s5 = pd.Series(['a', 'b', 'c', 'd'])
s5

0    a
1    b
2    c
3    d
dtype: object

In [126]:
s5.str.cat(sep=',')

'a,b,c,d'

In [127]:
s5.str.cat()

'abcd'

In [123]:
type(s5.str.cat())

str

In [128]:
s6 = pd.Series(['a', 'b', np.nan, 'c', 'd'])
s6.str.cat() # concatenates it with dropping the NaNs

'abcd'

In [132]:
s6.str.cat(sep='-')

'a-b-c-d'

In [137]:
s6.str.cat(sep='_', na_rep='X') # how NaN should be handled

'a_b_X_c_d'

In [141]:
s7 = pd.Series(['a', 'b', 'c', 'd'])
s7.str.cat(['A', 'B', 'C', 'D'])

0    aA
1    bB
2    cC
3    dD
dtype: object

In [142]:
pd.concat([s7, s7], axis=1)

   0  1
0  a  a
1  b  b
2  c  c
3  d  d

In [143]:
pd.concat([s7, s7], axis=0)

0    a
1    b
2    c
3    d
0    a
1    b
2    c
3    d
dtype: object

In [144]:
s8 = pd.Series(['b', 'd', 'a', 'c'], index=[1, 3, 0, 2])
s8

1    b
3    d
0    a
2    c
dtype: object

In [145]:
s5

0    a
1    b
2    c
3    d
dtype: object

In [146]:
s5.str.cat(s8)

0    aa
1    bb
2    cc
3    dd
dtype: object

In [147]:
s5.str.cat(s6)

0     aa
1     bb
2    NaN
3     dc
dtype: object

In [150]:
s5.str.cat(s8, join='inner')

0    aa
1    bb
2    cc
3    dd
dtype: object

## Panels in Pandas
They were used to represent 3D data (multiple sheets i.e. DataFrames)<br>
However Panels in Pandas are obsolete

In [155]:
#np.random.seed(1234)
#p1 = pd.Panel(np.random.randn(2, 5, 4),
#              items=['Item1', 'Item2'],
#              major_axis=pd.date_range('1/1/2021', periods=5),
#              minor_axis=['A', 'B', 'C', 'D'])
#p1

### Multiindex

In [170]:
midx = pd.MultiIndex(levels=[['one', 'two'], ['x', 'y']],
                     codes=[[1, 1, 0, 0], [1, 0, 1, 0]])
midx

MultiIndex([('two', 'y'),
            ('two', 'x'),
            ('one', 'y'),
            ('one', 'x')],
           )

In [173]:
df1 = pd.DataFrame({'A' : [1, 2, 3, 4],
                    'B' : [5, 6, 7, 8]},
                   index = midx)
df1

       A  B
two y  1  5
    x  2  6
one y  3  7
    x  4  8

### Convert MultiIndex DataFrame to Xarray

In [251]:
midx = pd.MultiIndex(levels=[pd.date_range('1/1/2021', periods=5), ['a', 'b', 'c', 'd']],
                     codes=[[0, 0, 0, 0,
                             1, 1, 1, 1,
                             2, 2, 2, 2,
                             3, 3, 3, 3,
                             4, 4, 4, 4],
                            [0, 1, 2, 3,
                             0, 1, 2, 3,
                             0, 1, 2, 3,
                             0, 1, 2, 3,
                             0, 1, 2, 3]])
midx

MultiIndex([('2021-01-01', 'a'),
            ('2021-01-01', 'b'),
            ('2021-01-01', 'c'),
            ('2021-01-01', 'd'),
            ('2021-01-02', 'a'),
            ('2021-01-02', 'b'),
            ('2021-01-02', 'c'),
            ('2021-01-02', 'd'),
            ('2021-01-03', 'a'),
            ('2021-01-03', 'b'),
            ('2021-01-03', 'c'),
            ('2021-01-03', 'd'),
            ('2021-01-04', 'a'),
            ('2021-01-04', 'b'),
            ('2021-01-04', 'c'),
            ('2021-01-04', 'd'),
            ('2021-01-05', 'a'),
            ('2021-01-05', 'b'),
            ('2021-01-05', 'c'),
            ('2021-01-05', 'd')],
           )

In [257]:
df = pd.DataFrame(np.random.randn(20,3), index=midx, columns=[0, 1, 2])
df.rename(columns = {0 : 'one', 1 : 'two', 2: 'three'}, index = {'major' : 'major', 'minor' : 'minor'}, inplace = True)
df.index.names = ['major', 'minor']
df
df

                       one       two     three
major      minor
2021-01-01 a     -0.465425  0.262141  0.319943
           b     -0.216228  0.045073  1.936006
           c      0.425908 -0.441203  1.021136
           d      2.990877 -1.734529  1.518227
2021-01-02 a     -0.706861  0.174108  1.172876
           b     -0.238120 -0.379042  1.167181
           c     -0.167416 -1.248495 -0.128660
           d     -0.506805  1.239093  0.230045
2021-01-03 a     -0.801763  0.252639 -1.565038
           b      1.582866  0.849961 -0.381166
           c      0.100763  1.780795  0.403964
           d      1.131084  0.162403  1.188456
2021-01-04 a     -0.397674 -0.641104  1.727934
           b     -0.568120 -0.993592 -0.543856
           c      0.614185  1.229084  2.102855
           d      1.639892  0.642059  1.331356
2021-01-05 a     -0.967172 -0.793871 -0.812978
           b     -0.153086 -0.885363  1.039158
           c      0.727986 -2.025949 -0.627306
           d     -0.488652  0.938477 -0.320958

In [258]:
xr1 = df.to_xarray()
xr1

<xarray.Dataset>
Dimensions:  (major: 5, minor: 4)
Coordinates:
  * major    (major) datetime64[ns] 2021-01-01 2021-01-02 ... 2021-01-05
  * minor    (minor) object 'a' 'b' 'c' 'd'
Data variables:
    one      (major, minor) float64 -0.4654 -0.2162 0.4259 ... 0.728 -0.4887
    two      (major, minor) float64 0.2621 0.04507 -0.4412 ... -2.026 0.9385
    three    (major, minor) float64 0.3199 1.936 1.021 ... 1.039 -0.6273 -0.321

In [256]:
type(xr1)

xarray.core.dataset.Dataset

## Time series in Pandas

In [2]:
range1 = pd.date_range('1/1/2019', periods=10, freq='H') # hourly frequency
range1

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [3]:
type(range1)

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
np.random.seed(1234)
ts1 = pd.Series(np.random.randn(10), index=range1)
ts1

2019-01-01 00:00:00    0.471435
2019-01-01 01:00:00   -1.190976
2019-01-01 02:00:00    1.432707
2019-01-01 03:00:00   -0.312652
2019-01-01 04:00:00   -0.720589
2019-01-01 05:00:00    0.887163
2019-01-01 06:00:00    0.859588
2019-01-01 07:00:00   -0.636524
2019-01-01 08:00:00    0.015696
2019-01-01 09:00:00   -2.242685
Freq: H, dtype: float64

### Timestamp vs Periods

In [11]:
t1 = pd.Timestamp(datetime(2019, 2, 1))
t2 = pd.Timestamp('2019-02-01')
t3 = pd.Timestamp(2019, 2, 1)
t1 == t2 == t3

True

In [14]:
t1

Timestamp('2019-02-01 00:00:00')

In [12]:
t2

Timestamp('2019-02-01 00:00:00')

In [13]:
t3

Timestamp('2019-02-01 00:00:00')

In [15]:
p1 = pd.Period('2017-01') # default freq is monthly
p1

Period('2017-01', 'M')

In [16]:
p2 = pd.Period('2017-05', freq='H')
p2

Period('2017-05-01 00:00', 'H')

In [17]:
dates = [pd.Timestamp('2019-05-01'),
         pd.Timestamp('2019-05-02'),
         pd.Timestamp('2019-05-03')]
dates

[Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00')]

In [18]:
pd.Timestamp('13-04-1997')

Timestamp('1997-04-13 00:00:00')

In [20]:
np.random.seed(1234)
ts2 = pd.Series(np.random.randn(3), dates)
ts2

2019-05-01    0.471435
2019-05-02   -1.190976
2019-05-03    1.432707
dtype: float64

In [22]:
ts2.index

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03'], dtype='datetime64[ns]', freq=None)

In [23]:
periods1 = [pd.Period('2019-01'),
            pd.Period('2019-02'),
            pd.Period('2019-03')]
periods1

[Period('2019-01', 'M'), Period('2019-02', 'M'), Period('2019-03', 'M')]

In [25]:
type(periods1[0])

pandas._libs.tslibs.period.Period

In [26]:
ts3 = pd.Series(np.random.randn(3), periods1)
ts3

2019-01   -0.312652
2019-02   -0.720589
2019-03    0.887163
Freq: M, dtype: float64

### Convert to Datetime

In [29]:
s1 = pd.to_datetime(pd.Series(['Jul 31, 2019',
                               '2010-01-10',
                               None,
                               '2005/11/23',
                               '2010.12.31',
                               '13 April 1997']))
s1 # NaT = Not a Time

0   2019-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
5   1997-04-13
dtype: datetime64[ns]

In [34]:
s2 = pd.to_datetime(pd.Series(['Jul 31, 2019',
                               '2010-01-10',
                               None,
                               '2005/11/23',
                               '2010.12.31',
                               '13 April 1997']),
                    dayfirst=True)
s2

0   2019-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
5   1997-04-13
dtype: datetime64[ns]

In [35]:
d1 = [datetime(2019, 5, 1),
      datetime(2019, 5, 2),
      datetime(2019, 5, 3)]
d1

[datetime.datetime(2019, 5, 1, 0, 0),
 datetime.datetime(2019, 5, 2, 0, 0),
 datetime.datetime(2019, 5, 3, 0, 0)]

In [36]:
index = pd.DatetimeIndex(d1)
index

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03'], dtype='datetime64[ns]', freq=None)

### Defining Indices

In [45]:
start = datetime(2019, 1, 1)
end = datetime(2019, 12, 31)
index1 = pd.date_range(start, end)
index1

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [46]:
len(index1)

365

In [47]:
index2 = pd.bdate_range(start, end) # b stands for business (business days = Mon-Fri )
index2 # freq = 'B' - business days

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [48]:
len(index2)

261

In [61]:
index3 = pd.date_range(start, periods=1008, freq='M') # 1008 / 12 = 84 godini
index3

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31',
               ...
               '2102-03-31', '2102-04-30', '2102-05-31', '2102-06-30',
               '2102-07-31', '2102-08-31', '2102-09-30', '2102-10-31',
               '2102-11-30', '2102-12-31'],
              dtype='datetime64[ns]', length=1008, freq='M')

In [66]:
count = 0
for date_element in index3:
    if (date_element.day == 29):
        count += 1
print(f'Prestapna godina na sekoi {int((1008/12)/count)} godini.')

Prestapna godina na sekoi 4 godini.

### Timestamp limitations

In [67]:
# dtype='datetime64[ns]
print(pd.Timestamp.min)
print(pd.Timestamp.max)

1677-09-21 00:12:43.145225
2262-04-11 23:47:16.854775807

### String and Datetime

In [68]:
tstamp1 = datetime(2019, 1, 3)
tstamp1

datetime.datetime(2019, 1, 3, 0, 0)

In [69]:
str(tstamp1)

'2019-01-03 00:00:00'

In [70]:
tstamp1.strftime('%Y-%m-%d')

'2019-01-03'

In [77]:
tstamp1.strftime('%d.%m.%Y')

'03.01.2019'

## Shifting and Timezones

In [81]:
np.random.seed(1234)
ts1 = pd.Series(np.random.randn(12),
                index = pd.date_range('1/1/2019', periods = 12, freq='M'))
ts1

2019-01-31    0.471435
2019-02-28   -1.190976
2019-03-31    1.432707
2019-04-30   -0.312652
2019-05-31   -0.720589
2019-06-30    0.887163
2019-07-31    0.859588
2019-08-31   -0.636524
2019-09-30    0.015696
2019-10-31   -2.242685
2019-11-30    1.150036
2019-12-31    0.991946
Freq: M, dtype: float64

In [84]:
ts1.shift(2) # shifts only the values

2019-01-31         NaN
2019-02-28         NaN
2019-03-31    0.471435
2019-04-30   -1.190976
2019-05-31    1.432707
2019-06-30   -0.312652
2019-07-31   -0.720589
2019-08-31    0.887163
2019-09-30    0.859588
2019-10-31   -0.636524
2019-11-30    0.015696
2019-12-31   -2.242685
Freq: M, dtype: float64

In [86]:
ts1.shift(-2)

2019-01-31    1.432707
2019-02-28   -0.312652
2019-03-31   -0.720589
2019-04-30    0.887163
2019-05-31    0.859588
2019-06-30   -0.636524
2019-07-31    0.015696
2019-08-31   -2.242685
2019-09-30    1.150036
2019-10-31    0.991946
2019-11-30         NaN
2019-12-31         NaN
Freq: M, dtype: float64

In [87]:
ts1.shift(2, freq='M') # shifts each row index for 2 months

2019-03-31    0.471435
2019-04-30   -1.190976
2019-05-31    1.432707
2019-06-30   -0.312652
2019-07-31   -0.720589
2019-08-31    0.887163
2019-09-30    0.859588
2019-10-31   -0.636524
2019-11-30    0.015696
2019-12-31   -2.242685
2020-01-31    1.150036
2020-02-29    0.991946
Freq: M, dtype: float64

In [88]:
ts1.shift(2, freq='D') # shifts each row index for 2 days

2019-02-02    0.471435
2019-03-02   -1.190976
2019-04-02    1.432707
2019-05-02   -0.312652
2019-06-02   -0.720589
2019-07-02    0.887163
2019-08-02    0.859588
2019-09-02   -0.636524
2019-10-02    0.015696
2019-11-02   -2.242685
2019-12-02    1.150036
2020-01-02    0.991946
dtype: float64

In [89]:
 ### Timezones

In [91]:
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [104]:
tz = pytz.timezone('UTC')
tz

In [103]:
for tzone in pytz.common_timezones:
    if 'Skopje' in tzone: 
        break
print(f'Time zone for Macedonia is: {tzone}.')

Time zone for Macedonia is: Europe/Skopje.

### Timezone localization and conversion

In [105]:
rng = pd.date_range('3/9/2019 9:30',
                    periods=6,
                    freq='D')
np.random.seed(1234)
ts1 = pd.Series(np.random.rand(len(rng)), index=rng)
ts1

2019-03-09 09:30:00    0.191519
2019-03-10 09:30:00    0.622109
2019-03-11 09:30:00    0.437728
2019-03-12 09:30:00    0.785359
2019-03-13 09:30:00    0.779976
2019-03-14 09:30:00    0.272593
Freq: D, dtype: float64

In [106]:
ts1.index

DatetimeIndex(['2019-03-09 09:30:00', '2019-03-10 09:30:00',
               '2019-03-11 09:30:00', '2019-03-12 09:30:00',
               '2019-03-13 09:30:00', '2019-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [107]:
print(ts1.index.tz)

None

In [108]:
# Naive to localization
ts_utc = ts1.tz_localize('UTC')
ts_utc

2019-03-09 09:30:00+00:00    0.191519
2019-03-10 09:30:00+00:00    0.622109
2019-03-11 09:30:00+00:00    0.437728
2019-03-12 09:30:00+00:00    0.785359
2019-03-13 09:30:00+00:00    0.779976
2019-03-14 09:30:00+00:00    0.272593
Freq: D, dtype: float64

In [111]:
ts_utc

2019-03-09 09:30:00+00:00    0.191519
2019-03-10 09:30:00+00:00    0.622109
2019-03-11 09:30:00+00:00    0.437728
2019-03-12 09:30:00+00:00    0.785359
2019-03-13 09:30:00+00:00    0.779976
2019-03-14 09:30:00+00:00    0.272593
Freq: D, dtype: float64

In [112]:
print(ts_utc.index.tz)

UTC

In [115]:
ts_ny = ts_utc.tz_convert('America/New_York')
ts_ny

2019-03-09 04:30:00-05:00    0.191519
2019-03-10 05:30:00-04:00    0.622109
2019-03-11 05:30:00-04:00    0.437728
2019-03-12 05:30:00-04:00    0.785359
2019-03-13 05:30:00-04:00    0.779976
2019-03-14 05:30:00-04:00    0.272593
Freq: D, dtype: float64

In [116]:
print(ts_ny.index.tz)

America/New_York